body {
  font-family: Palatino;
}

#reading-list {
  display: flex;
}

.wrapper {
  list-style: none;
  background-color: beige; 
}

.delete-button {
  margin-top: 2px;
}

.delete-button::after {
  content: 'Delete All';
}